body {
  background-color: skyblue;
}

h1 {
  text-align: center;
}

h4 {
  padding-bottom: 20px;
}

.results {
  display: none;
}

form {
  padding-top: 40px;
  width: 50%;
}

.container {
  padding: 5%;
}

p {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
