body {
  background-color: skyblue;
}

h1 {
  text-align: center;
  padding-top: 3%;
}

h4 {
  padding-bottom: 20px;
}

.results {
  display: none;
}

form {
  padding-top: 30px;
}

.container {
  padding: 5%;
}

p {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}

.answers {
  padding-top: 200px;
  padding-left: 5%;
}
